
.alert-fb {
  color: #fafafa;
  background: $fb-color;
}

.alert-wa {
  color: #fafafa;
  background: $wa-color;
}

.alert-ig {
  color: #333;
  background: $ig-color;
}

.alert-tg {
  color: #fafafa;
  background: $tg-color
}

.alert-sg {
  color: #fafafa;
  background: $sg-color;
}

.alert-ol {
  color: #fafafa;
  background: $ol-color;
}

.alert-ml {
  color: #fafafa;
  background: $ml-color;
}
