.bg-success {
  background-color: $success-color;
  color: $white-base;
}

.bg-pink-lighten-1, .badge-pink-lighten-1 {
  background-color: $pink-lighten-2;
  color: $white-base;
}

.bg-deep-purple, .badge-deep-purple {
  background-color: $deep-purple-base;
  color: $white-base;
}

.bg-deep-purple-lighten-1, .badge-deep-purple-lighten-1 {
  background-color: $deep-purple-lighten-1;
  color: $white-base;
}

.bg-purple, .badge-purple {
  background-color: $purple-base;
  color: $white-base;
}

.bg-purple-lighten-1, .badge-purple-lighten-1 {
  background-color: $purple-lighten-1;
  color: $white-base;
}

.bg-purple-lighten-2, .badge-purple-lighten-2 {
  background-color: $purple-lighten-2;
  color: $white-base;
}

.bg-green {
  background-color: $green-base;
  color: $white-base;
}

.bg-green-lighten-1 {
  background-color: $green-lighten-1;
  color: $white-base;
}

.bg-info {
  background-color: $info-color;
  color: $white-base;
}

.bg-blue {
  background-color: $blue-base;
  color: $white-base;
}

.bg-blue-lighten-1 {
  background-color: $blue-lighten-1;
  color: $white-base;
}

.bg-blue-lighten-2 {
  background-color: $blue-lighten-2;
  color: $white-base;
}

.bg-blue-lighten-3 {
  background-color: $blue-lighten-3;
  color: $white-base;
}

.bg-yellow {
  background-color: $yellow-base;
  color: $white-base;
}

.bg-red {
  background-color: $red-base;
  color: $white-base;

  .mat-simple-snackbar-action button {
    background-color: $white-base;
  }

}

.bg-orange {
  background-color: $orange-base;
  color: $white-base;

  .mat-simple-snackbar-action button {
    background-color: $white-base;
  }

}

.bg-orange-lighten-3 {
  background-color: $orange-lighten-3;
  color: $white-base;
}

.bg-orange-lighten-4 {
  background-color: $orange-lighten-4;
  color: $white-base;
}

.bg-orange-lighten-5 {
  background-color: $orange-lighten-5;
  color: $white-base;
}

.bg-grey-lighten-3 {
  background-color: $grey-lighten-3;
  color: $grey-darken-2;
}

.bg-grey-lighten-4 {
  background-color: $grey-lighten-4;
  color: $grey-darken-2;
}

.bg-grey-lighten-5 {
  background-color: $grey-lighten-5;
  color: $grey-darken-2;
}

.bg-wa {
  background-color: $wa-color;
  color: $white-base;
}

.bg-fb {
  background-color: $fb-color;
  color: $white-base;
}

.bg-ig {
  background-color: $ig-color;
}

.bg-tg {
  background-color: $tg-color;
  color: $white-base;
}

.bg-sg {
  background-color: $tg-color;
  color: $white-base;
}

.bg-ol {
  background-color: $purple-accent-4;
  color: $white-base;
}

.bg-ml {
  background-color: $yellow-accent-3;
  color: $white-base;
}

.bg-em {
  background-color: $em-color;
  color: $white-base;
}
