.fg-white {
  color: $white-base
}

.fg-grey {
  color: $grey-base
}

.fg-grey-darken-1 {
  color: $grey-darken-1
}

.fg-grey-darken-2 {
  color: $grey-darken-2
}

.fg-grey-darken-3 {
  color: $grey-darken-3
}

.fg-grey-lighten-1 {
  color: $grey-lighten-1;
}

.fg-grey-lighten-2 {
  color: $grey-lighten-2;
}

.fg-green {
  color: $green-base;
}

.fg-success {
  color: $success-color;
}

.fg-red {
  color: $red-base;
}

.fg-danger {
  color: $danger-color;
}

.fg-yellow {
  color: $yellow-base;
}

.fg-purple {
  color: $purple-base;
}

.fg-facebook {
  color: $fb-color;
}

.fg-orange {
  color: $orange-base;
}

.fg-orange-darken-1 {
  color: $orange-darken-1;
}

.fg-orange-darken-2 {
  color: $orange-darken-2;
}

.fg-orange-darken-3 {
  color: $orange-darken-3;
}

.fg-orange-lighten-2 {
  color: $orange-lighten-2;
}

.fg-wa {
  color: $wa-color;
}

.fg-fb {
  color: $fb-color;
}

.fg-ig {
  color: $ig-color;
}

.fg-tg {
  color: $tg-color;
}

.fg-sg {
  color: $tg-color;
}

.fg-ol {
  color: $purple-accent-4;
}

.fg-ml {
  color: $yellow-accent-3;
}
