<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-6 wow bounceInDown center-margin animated" style="visibility: visible; animation-name: bounceInDown;">
            <div class="server-message">
                <h2 i18n>Erro 404</h2>
                <h3 i18n>Página não encontrada</h3>
                <p i18n>A página que você está buscando foi movida ou não existe.</p>
                <form>
                    <button class="btn btn-lg btn-success" (click)="returnToApp()" i18n>Retornar à aplicação</button>
                </form>
            </div>
        </div>
    </div>
</div>
