@import "../../scss/newcolors";


.selection-item {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 6px;
  border-radius: 4px;
}

.selection-item:focus {
  border: 2px solid var(--primary-color);
}

.selection-item:hover {
  background-color: $black-lighten-4;
}

.selected-border {
  border: 2px solid var(--primary-color) !important;
}
