.base {
  padding-top: 2px;
  padding-bottom: 2px;
  height: 100%;
  width: 32px;
}

.indicator {
  border-radius: 0px;
  height: 100%;
}

.radius-left {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.radius-right {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
