<div class="full-width s10 flex-row align-items-center" style="height: 12px;">
  <div style="width: 60px;">
    {{!password ? '' : score === 0 ? texts.muitoFraca : score === 1 ? texts.fraca : score === 2 ? texts.regular : score === 3 ? texts.forte : texts.muitoForte}}
  </div>
  <div class="base mrg5L">
    <div class="indicator radius-left" *ngIf="password" [class.bg-red]="score === 0" [class.bg-yellow]="score === 1"
         [class.bg-orange]="score === 2" [class.bg-blue]="score === 3" [class.bg-green]="score === 4"
         [class.radius-right]="score === 0">

    </div>
  </div>
  <div class="base">
    <div class="indicator" *ngIf="password && score >= 1" [class.bg-yellow]="score === 1"
         [class.bg-orange]="score === 2" [class.bg-blue]="score === 3" [class.bg-green]="score === 4"
         [class.radius-right]="score === 1">

    </div>
  </div>
  <div class="base">
    <div class="indicator" *ngIf="password && score >= 2" [class.bg-orange]="score === 2" [class.bg-blue]="score === 3"
         [class.bg-green]="score === 4" [class.radius-right]="score === 2">

    </div>
  </div>
  <div class="base">
    <div class="indicator" *ngIf="password && score >= 3" [class.bg-blue]="score === 3" [class.bg-green]="score === 4"
         [class.radius-right]="score === 3">

    </div>
  </div>
  <div class="base">
    <div class="indicator bg-green" *ngIf="password && score == 4" [class.radius-right]="score === 4">

    </div>
  </div>
</div>
