<div [class.dialog-medium]="big" [class.dialog-small]="!big">
  <div class="dialog-content flex-column">
    <div class="full-width h5">
      {{title}}
    </div>
    <div class="full-width mrg10T s14">
      {{text}}
    </div>
  </div>
  <div class="dialog-buttons">

    <button matRipple type="button" id="noButton" #noButton [tabIndex]="1"
            class="btn {{noButtonStyle}}" (click)="result()" [class.btn-transparent]="!noButtonStyle">
      <span>{{noButtonText}}</span>
    </button>
  </div>

</div>
