@import "scss/newcolors";
@import "scss/medias";

.checklist-base {
  max-height: 170px;
  min-height: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 400;
  display: flex;
  border-radius: 8px;
  padding: 6px;
  background-color: $black-lighten-5;
  flex-direction: column;
}

.checklist-item {
  width: 100%;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: $white-base;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $white-base;
}

.checklist-item:hover {
  box-shadow: $info-base 0 0 4px;
}

.item-checkbox {
  @include phone() {
    font-size: 14px;
    margin-right: 4px;
  }
}

.item-checkbox:hover {
  color: $info-base;
}

.checked {
  background-color: $black-lighten-5;
  border: 2px solid $black-lighten-4;
  color: $black-lighten-2;
  text-decoration: line-through;
}

.editable-div {
  outline: none;
}

.editable-div:focus {
  padding: 4px;
  border: 2px solid $info-base;
  border-radius: 4px;
}

.editable-div:empty:before {
  content: attr(data-text);
  color: $black-lighten-2;
}

.item-btn {
  font-size: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  color: $black-lighten-2;
  cursor: pointer;
}

.item-btn:hover:not(.disabled) {
  color: $black-lighten-1;
}

.disabled {
  color: $black-lighten-3;
}
