@import "../../scss/newcolors";
@import "../../scss/medias";

.custom-audio-base {
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $black-lighten-1
}

.seek-bar {
  height: 42px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $black-lighten-2;
}

.progress-color-div {
  height: 100%;
  background-color: var(--primary-color);
  width: 0;
}

.waveform-base {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}

.seek-bar-bg-transparent {
  background-color: transparent;
}
